<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<connectionStrings>
		<add name="apos2-asdb-sql" connectionString="Server=apos-asdb.vejle.dk,1433;Database=asdb;User Id=asdbuser;Password=asdbpass;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="apos2-server-name" value="apos-prod.vejle.dk" />
		<add key="apos2-server-port" value="8080" />
		<!-- set apos2-environment only if -test or -trial, otherwise leave empty-->
		<add key="apos2-environment" value="" />
		<!-- set debug to true in order to debug to screen -->
		<add key="debug-to-screen" value="true" />
		<!-- set debug to true in order to debug to file - every SQL statement wil be written to this file.
		 REMARK: use a file location where the permissions allow file creating/appending/writing. Don't use "Program Files" -->
		<add key="debug-to-file" value="true" />
		<add key="debug-file-path" value="C:\\temp\\asdb-log.txt" />
 	</appSettings>
</configuration>
